<h1><%= @item["title"] %></h1>
<%= if @item["author"] do %>
  <div class="author">by <%= @item["author"] %></div>
<% end %>
<p class="content"><%=
  key = if @item["content"], do: "content", else: "summary"
  safe @item[key]["content"]
%></p>

<hr style="height: 4px;" />
